#SetInputFilter DEFLATE

AddType text/css .css
AddType application/javascript .js
AddType image/png .png

RewriteEngine on
RewriteBase /

RewriteRule ^viewer(\/.*)?$ logger/db/viewer$1 [L]
RewriteRule ^clear\/?$ logger/db/viewer/api/log/clear.php [L]
