{
	"env": {
		"browser": false,
		"node": false,
		"mocha": true
	},
	"rules": {
		"no-empty-function": ["off"],
		"no-unused-vars": ["off"],
		"no-new-wrappers": ["off"],
		"no-sync": ["off"],
		"no-undefined": ["off"],
		"dot-notation": ["off"],
		"no-process-env" : "off"
	},
	"globals": {
		"console": true,
		"assert": true
	}
}
